@charset "utf-8";

#game {
  background: white;
  position: fixed;
}

.road {
  background: black;
  position: fixed;
  transition: height 2s ease-out, width 2s ease-out, top 2s ease-out, left 2s ease-out;
}
