@charset "utf-8";

#game {
  background: white;
  position: fixed;
}

#game > div {
  position: fixed;
}

.road {
  background: black;
  transition: height 2s ease-out, width 2s ease-out, top 2s ease-out, left 2s ease-out;
}

.base {
  transition: height 1s linear, width 1s linear, top 1s linear, left 1s linear;
}

.cab {
  background: yellow;
}

.blue {
  background: #00a;
}

.red {
  background: #a00;
}

.yellow {
  background: #cc0;
}
