---
title: Piet
---

<audio src="audio/bgmusic.mp3" id="music" loop></audio>

<div id="game">
</div>

<div id="credits">
  <h1>Piet</h1>
  <p>A game by Dan Bergren.</p>
  <p>Music by Javier Suarez.<br /><strong>betterwithmusic.com</strong></p>
  <p>Inspired by the works of Piet Mondrian.</p>
  <p>Created for the 2015 Global Game Jam.</p>
  <p><em>"What do we do now?"</em></p>
  <p>Source code hosted on GitHub.<br /><strong>github.com/bergren2/GGJ15</strong></p>
  <p class="action"><strong>Click</strong> to <em>continue</em>...</p>
</div>
